#files
*.png
*.jpg
*.pt
*.mp4
#dir
Image Segmenting
ImageStitching
ShapeModel/Training/runs
#Filtering
.DS_Store
venv/
.env
.venv/
__pycache__
*.pt
build/
vcpkg_installed/
.vscode/
*.png
CMakePresets.json
$ImageStitching/
videos/
models/
data/
output/
*.pth
Calibration/images/*
